Options -Indexes

<Files .htaccess>
order allow,deny
deny from all
</Files>

RewriteEngine on
RewriteRule ^$ ./index.php
RewriteRule ^css/([^.]+)$ ^css/([^.]+)$
RewriteRule ^events/([^.]+)$ events.php?action=$1
RewriteRule ^([^.]+)$ $1.php