html,
body {
	margin:0;
	padding:0;
	height:100%;
	background: #fafafa;
	font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#3a5795;
	border-bottom: 1px solid #133783;
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
	padding:10px;
	min-width: 950px;
}

#header *
{
	display: inline;
	height: 30px;
}

#header h1
{
	font-size: 30px;
	padding: 0 5px;
	margin-top: 30px
}

#header a
{
	text-decoration: none;
	color: white;
	padding: 0;
}

#suggestions, #suggestions * {
	display: block;
	padding: 0;
	margin: 0;
	height: initial;
}

#search {
	position: absolute;
	top: 14px;
	left: 230px;
	width: 400px;
	height:30px;
}

#suggestions {
	width: 399px;
	position: absolute;	
	left: 230px;
	top: 45px;
	border: 1px solid #c0c0c0;
	background-color: #fff;
	display: none;
}

#suggestions .suggestion {
	padding: 0;
	font-family: Helvetica;
	border-bottom: 1px solid #c0c0c0;
	padding: 5px;
}

#suggestions .suggestion:last-child {
	border-bottom: 0px;
}

#suggestions .suggestion:hover {
	background-color: #f2f2f2;
	cursor: pointer;
}


#logout > a:hover, #header h1:hover
{
	background-color: #2f4779;
}

#logout > a {
	padding: 4px;
}

#logout {
	float: right;
	padding-top: 5px;
}

#content {
	padding-bottom:50px; /* Height of the footer element */
}
#footer {
	width:100%;
	height:30px;
	padding-top: 20px;
	position:absolute;
	bottom:0;
	left:0;
}

#footer form {
	display: inline-block; 
	padding: 0px;
}

#footer input {
	 background:none;
     border:none; 
     padding: 0;
     font: inherit;
     cursor: pointer;
     text-decoration: none; 
     color: #0d3c5f;
     font-size: 12px;
     margin-left:16px;
     padding: 2px;
}

.box {
	background-color: #fff;
	border: 1px solid #edeeee;
    margin: 0;
    margin-bottom: 20px;
    padding: 11px;
}

.error-box {
	background-color: #fff;
	border: 1px solid #edeeee;
    margin: 0;
    margin-bottom: 5px;
    margin-top: -5px;
    padding: 11px;
    text-align: center;
}

.button {
	color: #fff;
	background-color: #4090db;
    border-color: #4090db;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    padding: 2px 6px;
    font: 13.5px Arial;
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    text-align: center;
}

.error-button{
	padding: 4px 6px;
}

.delete-photo-button {
	height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    top: 2px;
    right: 2px; 
    border-style: none;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    background-color: #dc0000;
	border-color: #ba0000;
}

.button:disabled {
	cursor: auto;
	background-color: #ccc;
	border-color: #bbb;
}

#photos-button {
	margin-bottom: 20px;
	border-width: 1px;
	width: 100px;
	position: absolute;
	left: -102px;
	padding: 8px;
}

.spacing {
	padding-top:40px;
}

.login {
	text-align: center;
	min-width: 700px;
}

.login > div {
	display: inline-block;
	width: 300px;
}

#login-side-image {
	top: 35px;
	margin-right: 120px;
	position: relative;
}


input[type="text"],input[type="password"],input[type="email"], select {
	margin: 0;
	display: block;
	border: 1px solid #edeeee;
	height: 35px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	padding: 10px;
}

input[type="date"] {
	padding-left: 10px;
}

select {
	padding: 0 10px;
}

input[type="date"] {
	border: 1px solid #edeeee;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login input {
	width: 100%;
	margin: 10px 0 0;
}

.login h2 {
	color: #0d3c5f;
	margin: 0;
	font-size: 20px;
    font-weight: 600;
}

.login .button {
    font-size: 14px;
    font-weight: 600;
    height: 40px;
}

#register, #login {
	position: relative;
}

.error-reg > * {
	display: inline-block;
	vertical-align: middle;
}

.error-reg
{
	background-color: #F07878; 
	text-align: center; 
	font-size: 13px;
	padding:2px;
	color: white;
	display: none;
	margin-top:10px;
	position: absolute;
	left: 300px;
	width: 150px;
	height: 29px;
	border: 1px solid red;
	border-radius: 5px;
	border-color: red;
}

.div-event-image
{

	height: 100px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.div-event-image-big
{
	width: 100%;
	height: 300px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.event.box .event-date
{
	text-align:right;
	font-size: 12px;
	margin: 10px 20px 5px 0;
}

.event.box p {
	text-align:right;
	font-size: 10px;
	margin: 0 5px 0;
	height: 13px;
}

.event.box h3
{
	color: #3b5998;
	font-size: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.event.box > a 
{
	text-decoration: none;
	color: black;
}

.event.box > a > div
{
	padding: 11px;
	width: 200px;
}

.event.box 
{
    text-align:center;
	display: inline-block;
	margin-left: 7px;
	margin-right: 7px;
	color: white;
	padding: 0;
}

.owned-event
{
	border-color: blue;
	border-width: 1px;
}

.invite
{
	background-color: #eee;
	border-color: #fff;
}

.box.center > .date
{
	color: #4e5665;
	font-weight: bold;
	font-size: 13px;
}
.box.center > h3
{
	text-align: center;	
	color: #3b5998;
}

.share {
	padding: 12px 0 0;
	height: 20px;
}

#new-event > input, #edit-event > input
{
	display: inline;
}

#new-event #event-submit, #edit-event #event-edit-submit
{
	display: block;
	margin-top: 20px;
	font-size: 14px;
    font-weight: 600;
    height: 35px;
    width: 150px;
}

#privacy {
	display:block;
	margin-top:20px;
	font-size: 0.9em;
}

.event-error
{
	background-color: #fff; 
	text-align: center; 
	font-size: 13px;
	color: red;
	display: none;
	padding-left: 20px;
}

.events-list, .photos-list {
	margin:0;
	padding:0;
	margin-bottom: -20px;
}

#event-type {
	margin: 30px 0 10px;	
}

#event-privacy {
	font-size: 0.8em;
	margin-bottom: 20px;
}

#del-edit-div {
	float: right;
	position: relative;
}

#delete-button {
	background-color: #dc0000;
	border-color: #ba0000;
}

.default-width {
	width: 800px;
}

.default-width-with-sidebar {
	width: 1100px;
}

#sidebar {
	float: right;
	width:240px;
	text-align: center;
}

#sidebar > h3:first-child {
	margin-top: 10px;
}
#sidebar > h3 {
	color: #3b5998;
	padding:0;
	margin:30px 0 15px;
	padding-bottom: 5px;
	border-bottom:1px solid #3b5998;
}

#subs, #invites {
	list-style-type: none;
	padding: 0;
	margin: 10px;
	font-size: 0.9em;
}

#zero-subs, #zero-invites
{
	font-size: 0.9em;
}

#invite-email {
	display: inline;
	width: 200px;
	margin-bottom: 5px;
}

#invite-button {
	height: 32px;
	width: 32px;
}

#invite-error
{
	background-color: #fff; 
	text-align: center; 
	font-size: 13px;
	color: red;
}

.default-width-with-sidebar > div:first-child {
	float:left;
}

.clear {
	clear: both;
}

.center {
	margin: 20px auto 0;
}

ul.tabs {
    margin: 0;
	padding: 0px;
	margin-left: 20px;
}

.tabs-panel {
	background: #d4d4d1;
	height: 520px;
	overflow:auto;
	padding: 20px 0 20px 20px;
	margin-left: 20px;
}

ul.tabs li {
	display: inline-block;
	padding: 10px 15px;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
    text-decoration: none;
    list-style-type: none;
}

ul.tabs li.active {
    background: #d4d4d1;
}

.tabs li a {
    padding: 10px;
    text-transform: uppercase;
    color: #777;
    text-decoration: none; 
}

.tab-right {
	float:right;
	border: none;
}

.tab-right.button > *{
	color: #fff;
}

.tab-right.button {
	padding: 7px;
	margin-top:2px;
	margin-left: 5px;
	border: none;
	height: 30px;
}

#comments-box {
	margin: 20px 0 10px;
	width:97%
}

#comments-box h2
{
	margin:0 0 10px 0;
	font-size: 1.2em;
}

#comments-box h3
{
	margin:0 0 10px 0;
	font-size: 1em;
}

#comments-box button {
	margin: 10px 0 20px;
}

#comments-box p {
	font-size: 0.9em;
}

#comments-box ul {
	padding-left: 0;
}

#comment-area {
	display:block;
	resize:vertical;
	width: 94%;
}

#comment-area, #comments-box button {
	margin-left: 20px;
}

.comment {
	padding: 6px 20px 20px 7px;
	margin: 20px;
	background-color: #fafafa;
	border: 1px solid #edeeee;
	list-style-type: none;
}

.author {
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.comment-text {
	margin-left: 10px;
	margin-top: 5px;
	word-wrap: break-word;
}

#description-area {
	width: 94%;
}

#overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	z-index: 10000;
	vertical-align: middle;
	text-align: center;
	color: #fff;
}

#overlay progress {
	width: 50%;
	height: 30px;
}

#overlay p {
	font-size: 40px;
	font-weight: bold;
}

.div-event-photo-image
{
	height: 220px;
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
}

.fullscreen-image
{
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.photo-link {
	cursor: pointer;
}

li.photo {
	list-style: none;
	margin: 0;
	margin-left: 15px;
	margin-bottom: 15px;
	width: 220px;
	display: inline-block;
	background-color: black;
	position: relative;
}

#photos-event-name {
	max-width: 380px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: -4px;
}

/**********/

.tg-list-item{
	list-style: none;
	margin-top: 2px;
	padding: 0;
	font: 13.5px Arial;
	
}

#delete-flip-button {
	 border:none;
	 padding: 0;
	 margin-right: 10px;
}

.tgl {
  display: none;
}

.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 170px;
  height: 30px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: uppercase;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-flip + .tgl-btn {
  padding: 0;
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
  -webkit-perspective: 200px;
          perspective: 200px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
  display: inline-block;
  -webkit-transition: all .4s ease;
          transition: all .4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 30px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #FF3A19;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
  background: #7FC6A6;
  content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
  -webkit-transform: rotateY(-20deg);
          transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
   
}
.tgl-flip:checked + .tgl-btn:after {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  left: 0;
}
.tgl-flip:checked + .tgl-btn:active:after {
  -webkit-transform: rotateY(20deg);
          transform: rotateY(20deg);
}